<div class="page-account">
  <div v-if="currentUser">
    <h1>Hello {{currentUser.username}}!</h1>

    <form v-on:submit.prevent="onSubmit" class="ui form" v-form name="form">
      <div class="ui success message">
        <div class="header">Successfully updated.</div>
      </div>

      <div class="ui error message">
        <div class="header">{{errorMessage}}</div>
      </div>

      <div v-show="!changePassword">
        <div :class="{error: form.$submitted && form.username.$invalid}" class="field" id="username-field">
          <label for="username">Username</label>
          <input type="text" v-model="currentUser.username" v-form-ctrl required name="username" id="username" placeholder="Username">
        </div>

        <div :class="{error: form.$submitted && form.email.$invalid}" class="field" id="email-field">
          <label for="email">E-Mail</label>
          <input type="email" v-model="currentUser.email" v-form-ctrl required name="email" id="email" placeholder="E-Mail">
          <div class="ui icon message" v-if="!currentUser.email">
            <i class="info icon"></i>
            <div class="content">
              <div class="header">Please provide an E-Mail address</div>
              <p>
                We won't spam you. But in case you forget your password, you will
                be able to reset it via E-Mail. Deal?
              </p>
            </div>
          </div>
        </div>
      </div>

      <div v-show="changePassword">
        <div :class="{error: form.$submitted && form.passwordOld.$invalid}" class="field" id="password-old-field">
          <label for="passwordOld">Old Password</label>
          <input type="password" v-model="passwordOld" v-form-ctrl required name="passwordOld" id="passwordOld" placeholder="Old Password">
        </div>

        <div :class="{error: form.$submitted && form.passwordNew.$invalid}" class="field" id="password-new-field">
          <label for="password-new">New Password</label>
          <input type="password" v-model="passwordNew" v-form-ctrl required name="passwordNew" id="passwordNew" placeholder="New Password">
        </div>

        <div :class="{error: form.$submitted && form.passwordNewCheck.$invalid}" class="field" id="password-new-check-field">
          <label for="password-new-check">New Password Check</label>
          <input type="password" v-model="passwordNewCheck" v-form-ctrl required custom-validator="passwordMatch" name="passwordNewCheck" id="passwordNewCheck" placeholder="New Password Check">
        </div>
      </div>

      <div class="submit field">
        <button class="ui button primary" type="submit">
          Update
        </button>

        <a class="ui button" v-if="!changePassword" v-on:click="onChangePasswordClick">
          Change Password
        </a>

        <a class="ui button" v-if="changePassword" v-on:click="onChangePasswordClick">
          Change Infos
        </a>
      </div>
    </form>
  </div>
</div>
