<div class="page-login">
  <form v-on:submit.prevent="onSubmit" class="ui form" v-form name="form">
    <div class="ui error message">
      <div class="header">Can't log you in</div>
      <p>Are you sure the username and password match? Please try again.</p>
    </div>

    <div :class="{error: form.$submitted && form.username.$invalid}" class="field" id="username-field">
      <label for="username">Username</label>
      <input type="text" v-model="username" v-form-ctrl required name="username" id="username" placeholder="Username">
    </div>

    <div :class="{error: form.$submitted && form.password.$invalid}" class="field" id="password-field">
      <label for="password">Password</label>
      <input type="password" v-model="password" v-form-ctrl required name="password" id="password" placeholder="Password">
    </div>

    <button class="ui button primary" type="submit">Login</button>
    <a class="ui button" v-link="{ name: 'forgot-password' }">Forgot Password?</a>
  </form>
</div>
