<div class="page-forgot-password">
  <form v-on:submit.prevent="onSubmit" class="ui form" v-form name="form">
    <div class="ui error message">
      <p>{{errorMessage}}</p>
    </div>

    <div class="ui success message">
      <p>Reset E-Mail has been sent to {{email}}</p>
    </div>

    <div :class="{error: form.$submitted && form.email.$invalid}" class="field">
      <label for="email">E-Mail</label>
      <input type="email" v-model="email" v-form-ctrl required name="email" id="email" placeholder="your@mail.com">
    </div>

    <button class="ui button primary" type="submit">
      Send Reset Link
    </button>
  </form>
</div>
